<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126907591682-a7neiffp4347nlhsf17mf99ik1jv2t1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126907591682-a7neiffp4347nlhsf17mf99ik1jv2t1a</string>
	<key>API_KEY</key>
	<string>AIzaSyDuqjaiBs94bZrLMyHcNbSKwbTbATJVj7w</string>
	<key>GCM_SENDER_ID</key>
	<string>126907591682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.powerLineWalker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>powerlinewalker</string>
	<key>STORAGE_BUCKET</key>
	<string>powerlinewalker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126907591682:ios:1c76048836df3a93ad4b1b</string>
	<key>DATABASE_URL</key>
	<string>https://powerlinewalker-default-rtdb.firebaseio.com</string>
</dict>
</plist>